<div class="col-xs-12 col-lg-5 mx-auto my-5">
  <%= simple_form_for @property do |f| %>
    <%= f.input :title, input_html: { autocomplete: "off" } %>
    <%= f.input :location, input_html: { autocomplete: "off" } %>
    <div class="d-flex justify-content-between">
      <%= f.input :bedrooms, wrapper_html: { class: "col-lg-6 pl-0" } %>
      <%= f.input :bathrooms, wrapper_html: { class: "col-lg-6 pr-0" } %>
    </div>
    <%= f.input :price, label: "Price ($)" %>
    <%= f.input :description, input_html: { id: "description" } %>
    <div class="col-xs-12 col-lg-6 px-0">
      <%= f.input :main_photo, as: :file %>
    </div>
    <div class="col-xs-12 col-lg-6 px-0">
      <%= f.input :photos, as: :file, label: "Additional photos", input_html: { multiple: true } %>
    </div>
    <%= f.submit class: "btn-black" %>
  <% end %>
</div>