<div class="col-xs-12 col-lg-5 mx-auto my-5">
  <%= simple_form_for @property do |f| %>
    <%= f.input :title %>
    <%= f.input :location %>
    <div class="d-flex justify-content-between">
      <%= f.input :bedrooms, wrapper_html: { class: "col-lg-6 pl-0" } %>
      <%= f.input :bathrooms, wrapper_html: { class: "col-lg-6 pr-0" } %>
    </div>
    <%= f.input :price %>
    <%= f.input :description, input_html: { id: "description" } %>
    <%= f.submit class: "btn-black" %>
  <% end %>
</div>